* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  



.carousel-inner{
    height: 35vh !important;
  
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
   max-height: 100% !important;
}


.tituloCarrusel{
    font-size: 4vh !important;
    font-weight: 300;

}

.list-group{
    display: flex !important;
    flex-direction: row !important;

}

.list-group-item {
    border: none !important;
}

.categories{
    display: flex !important;
    justify-content: space-between;
    padding: 20px 00px 25px;
    flex-wrap: wrap !important;
}

.card-footer{
    background-color: #ffffff !important;
    display: flex !important;
    justify-content: flex-end !important; /* O ajusta según sea necesario */
}
.col{
    padding: 0px 15px 15px 15px !important;
    
}




.bodyContainer {
    width: 100%;
    flex: 1; 
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.container-form{
    padding-top: 5vh;
    width: 30vw;
}

.form-control{
    border: solid 1px rgb(128, 125, 125) !important;
}


div.card.text-center img{
    height: 35vh;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

 
}

div.card.text-center{
    border-radius: 15px;

    box-shadow: -1px 0px 20px 4px rgba(1, 1, 1, 0.3);
}

    


p.card-text{
 
    min-height: 14vh;
}

div.card.text-center:hover{
    opacity: 0.8;
}





.row{
    margin-bottom: 15vh;

}

.table{
    border: solid 1px rgb(128, 125, 125) !important;
}

.card-img-top{
    height: 300px !important;
    object-fit: cover !important;
}

footer {
    margin-top: auto;
  }
  .footerCOHORT{
    color: white;
  }

input{
    border: 1px solid #5241b3 !important;


}

.carousel-item img{
    height: 500px !important;
    object-fit: cover;}



@media (max-width: 768px) {
    .carousel-item img{
        height: 100%;
        object-fit: cover; 
    }
}


@media (max-width: 480px) {
    .carousel-item img{
        height: 100%;
        object-fit: cover; 
    }
}
